/* Text Property
text-align
text-weight
text-height
etc...

*/

h1 {
  text-align: center;
  font-weight: 600;
  /* font weight define font weightb like bold ,bolder ,lighter etc... */
  text-decoration: aqua line-through;
  letter-spacing: 5px;
}
/* Text Decoration = sets the appearenceof decoarative lines on text like underline */
#b {
  text-decoration: underline;
  line-height: 30px;
}

/* line height=   controls the height of the line of text*/

h2 {
  line-height: 15px;
  text-decoration: chocolate underline wavy;
  align-items: center;
}

/* letter spacing = controls the horizontal spacing between text characters */

#a {
  letter-spacing: 5px;
  text-decoration: dashed lawngreen;
}

/* font family = used to set font family like arial,times new roman etc... */

#c {
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  align-items: center;
  color: red;
}

/* Inheritance in CSS =  is a mechanism where some CSS properties applied to a parent element are automatically passed down (inherited) by its child elements. */

div {
  color: orchid;
  border: none;
  margin: 10px;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
}
button:hover {
  background-color: sandybrown;
}



