/* alpha channel = to sets the oppcity for a color its range from 0-1 */

#opacity {
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(11, 23, 54, 0.42);
}

/* opacity = sets the opacity foa a element */

/* transistions = transistions enablr you to define the transistions between two states of an element */

#second:hover {
  background-color: palevioletred;
  border-radius: 50%;
  opacity: 1;
  transition: 1s 1s;
}

/* Transform css = thie property lrts you rotate ,scale,skew, or translate an element */

section {
  margin: 100px;
}

div {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: #7aa;
  border: 2px solid black;
  margin: 10px;
}

div:nth-last-of-type(2n) {
  background-color: #fefd99;
}

div:nth-last-of-type(3n) {
  background-color: #9ed3dc;
}

#one {
  transform: rotate(45deg);
}

#two {
  transform: scale(0.5);
}

#three {
  transform: translate(20px, 20px);
}
#four {
  transform: skew(15deg);
}

/* Box shadow = it adds shadow effects on around an element */

#shadow {
  box-shadow: 2px 2px 10px black;
}

/* Background-image = To sets background-image  */

#background {
  height: 180px;
  width: 180px;
  background-color: white;
  border: 3px solid black;
  margin-left: 500px;
  background-image: url("image.jpeg");
  background-size: auto;
  color: red;
  font-weight: bolder;
}

/* Position = It controls where an element is placed on the page. */
#static {
  position: static;
}

#relative {
  position: relative;
}

#absolute {
  position: absolute;
}

#fixed {
  position: fixed;
}
