/* selector in css ther are mainly 4 type of selector in css */

/* 1 = universal selector = to selct my whole html page using universal selector */

* {
  font-family: "Courier New";
}

/* 2 = element selector = select all elements of the same type using select html tag */
h1 {
  color: #aab23a;
  background-color: bisque;
}

/* 3 = id selector = select an element based on the value of the element id attribute */
/* id selector is case sensitive  */

#paragraph {
  color: sandybrown;
  background-color: blueviolet;
}

/* class selector = selects an element based on their class attribute */

.a {
  color: black;
  background-color: hotpink;
  border: 3px solid blue;
}

#btn {
  color: aquamarine;
  background-color: #aab23a;
  border: 5px solid red;
}

/* A descendant selector is used to select elements that are inside another element (at any level). */
div p {
  color: lightsalmon;
}

/* Adjacent sibiling selector = that comes immediately after any tag */
h4 + button {
  color: mediumvioletred;
  background-color: lightgreen;
}

/* child combinator = select all element which are follow child & parent relatiophship */
div > button {
  color: #aabbc6;
  background-color: deeppink;
}
